{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}">
{% endblock %}

{% block body %}
<div id="last-found">
    <h1>OSTATNIO TRAFIŁY</h1>
    <div class = "slider-wrapper">
        <div class="slider">
            {% for animal in three_recently_arrived %}
            <a href="{{ url_for('animal', id = animal.animal_id) }}">
                <img src="{{ url_for('static', filename='uploads/animals/' + animal.animal_id |string + '/' + animal.title_img_name) }}"/>
            </a>
            {% endfor %}
        </div>
        <div class="slider-nav">
            {% for animal in three_recently_arrived %}
            <a href="#slajd"></a>
            {% endfor %}
        </div>
    </div>
</div>
<div id="news">
    <h1>AKTUALNOŚCI</h1>

    {% for post in three_latest_posts %}

    <div class="post-box">
        <div class="post-box-title">
            <h2><strong>{{ post.title }}</strong></h2>
            <hr/>
        </div>
        <div class="post-box-date">
            {{ post.post_datetime.strftime('%Y-%m-%d %H:%M') }}
        </div>
        <div class="post-box-container">
            {% if post.title_img_name %}
            <div class="post-box-img">
                <img src="{{ url_for('static', filename='uploads/posts/' + post.post_id |string + '/' + post.title_img_name) }}" alt="Zdjęcie tytułowe">
            </div>
            {% endif %}
            <div class="post-box-description">
                <p> {{ post.description|safe }} </p>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="post-box-button">
            <a href="{{ url_for('post', id=post.post_id) }}">Więcej</a>
        </div>
    </div>

    {% endfor %}

    <a class="misc-post" href="{{ url_for('posts') }}">Więcej</a>
</div>
<div id="our-seniors">
    <h1>NASI SENIORZY</h1>
    
    <div class="animal-boxes-module">
        {% for animal in seniors %}
            <a href="{{ url_for('animal', id=animal.animal_id) }}">
                <div class="animal-box">
                    <div class="animal-box-img">
                        {% if animal.title_img_name %}
                            <img src="{{ url_for('static', filename='uploads/animals/' + animal.animal_id |string + '/' + animal.title_img_name) }}" alt="Zdjęcie zwierzęcia.">
                        {% endif %}
                    </div>
                    <div class="animal-box-description">
                        {% if animal.name %}
                            <h3>{{ animal.name }}</h3>
                            {{ animal.number }}<br/>
                        {% else %}
                            <h3>{{ animal.number }}</h3>
                        {% endif %}
                        {{ animal.sex }}, {{ animal.age }} lat, {{ animal.weight }} kg<br/>
                        {{ animal.box }}<br/>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

</div>
<div id="shelter-in-numbers">
    <h1>SCHRONISKO W LICZBACH</h1>

    <div class="shelter-in-numbers-info">
        <div class="info-blocks-animals-module">
            <div class="info-block">
                <div class="info-block-img">
                    <img src="/static/images/logo.png"/>
                </div>
                <div class="info-block-number">
                    {{ in_schelter }}
                </div>
                <div class="info-block-text">
                    Zwierzęta w schronisku
                </div>
            </div>
            
                <div class="info-block">
                    <div class="info-block-img">
                        <img src="/static/images/logo.png"/>
                    </div>
                    <div class="info-block-number">
                        {{ dogs }}
                    </div>
                    <div class="info-block-text">
                        Psy
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block-img">
                        <img src="/static/images/logo.png"/>
                    </div>
                    <div class="info-block-number">
                        {{ cats }}
                    </div>
                    <div class="info-block-text">
                        Koty
                    </div>
                </div>
            
        </div>
        <div class="info-blocks-module">
            <div class="info-block">
                <div class="info-block-img">
                    <img src="/static/images/logo.png"/>
                </div>
                <div class="info-block-number">
                    {{ arrived }}
                </div>
                <div class="info-block-text">
                    Trafiło do schroniska
                </div>
            </div>
            <div class="info-block">
                <div class="info-block-img">
                    <img src="/static/images/logo.png"/>
                </div>
                <div class="info-block-number">
                    {{ adoption }}
                </div>
                <div class="info-block-text">
                    Trafiło do adopcji
                </div>
            </div>
            <div class="info-block">
                <div class="info-block-img">
                    <img src="/static/images/logo.png"/>
                </div>
                <div class="info-block-number">
                    {{ back_home }}
                </div>
                <div class="info-block-text">
                    Wróciło do domu
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const slider = document.querySelector('.slider');
    const images = document.querySelectorAll('.slider > a img');
    let index = 0;

    function nextSlide() {
        index = (index + 1) % images.length;
        slider.scrollTo({
            left: images[index].offsetLeft,
            behavior: 'smooth'
        });
    }

    setInterval(nextSlide, 6000); // Przejście co 3 sekundy
</script>

<script>
document.querySelectorAll(".slider-nav a").forEach((link, index) => {
    link.addEventListener("click", function(event) {
        event.preventDefault(); // Zatrzymuje przewijanie strony

        const slider = document.querySelector(".slider");
        const slideWidth = slider.clientWidth; // Pobiera szerokość slajdu

        slider.scrollTo({
            left: slideWidth * index, // Przesuwa slider na właściwą pozycję
            behavior: "smooth" // Płynne przewijanie
        });
    });
});

</script>
{% endblock %}

